.profile img {
    width: 150px;
    height: 145px;
    border-radius: 50%;
    margin: 35px 10px 0 120px;
  }
  .text {
    text-align: center;
  
    border-bottom: 1px solid rgb(233, 231, 231);
  }
  .design {
    border: 1px solid grey;
    border-radius: 20px;
    margin: 0 90px 18px 120px;
    padding: 10px 10px;
    color: rgb(126, 125, 125);
    background-color: rgb(235, 235, 235);
    font-size: 5mm;
    width: 130px;
  }
  .pics img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: -5px;
    padding: -20px;
    border: 1px solid white;
  }
  .btn {
    padding: 10px 0 5px 100px;
    margin: 12px 12px;
    border-top: 1px solid rgb(228, 224, 224);
  }
  .fa-linkedin {
    color: rgb(179, 179, 179);
    padding: 6px 50px 2px 0;
    text-decoration: none;
    font-size: 10mm;
  }
  .fa-dribbble {
    color: rgb(180, 179, 179);
    padding: 6px 60px 2px 0;
    text-decoration: none;
    font-size: 10mm;
  }
  .fa-twitter {
    color: rgb(179, 178, 178);
    padding: 6px 50px 2px 0;
    text-decoration: none;
    font-size: 10mm;
  }
  .usual {
    color: rgb(126, 125, 125);
  }
  .below {
    height: 80px;
    margin: 30px 0 45px 90px;
  }
  .main {
    border: 1px solid #ccc;
    margin: 10px 440px 20px 440px;
    box-shadow: 2px 2px 15px 4px #ccc;
    height: 600px;
    width: 400px;
  }
  