.image img {
    // width: 400px;
    // height: 600px;
    border-radius: 6px;
  }
  .content1 {
    position: relative;
    bottom: 70px;
    color: #e9e3e3;
    padding: 12px;
  }
  .content2 {
    position: relative;
    top: 2.5cm;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 10px;
    border-radius: 0 50px 50px 0;
    width: 70px;
    font-size: 4mm;
  }
  .all {
    margin: 0px 440px 0 440px;
  }
  