.logo {
    margin-bottom: 0;
    text-align: center;
    font: italic small-caps bold 16px/2 cursive;
    font-size: 150px;
}

.tagline {
    margin-top: 2em;
    margin-right: 2em;
    font-size: 2em;
    text-align: right;
}
